html, body {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2 {
    color: #ffffff;
    letter-spacing: 1;
    font-family: "Roboto Slab", serif;
}

p, small {
    font-family: "Lato", sans-serif;
    line-height: 2.2;
}

small {
    color: red;
}

span {
    font-weight: 700;
}

header {
    padding: 20px 70px;
    justify-content: space-between;
    background-color: #154360;
}

header div {
    flex: ;
}

header h1 {
    text-align: left;
}

header div, header h1 {
    display: inline-block;
}

header div input {
    width: 30%;
}

aside {
    flex: 3;
    float: right;
    width: 20%;
    background-color: #1a5276;
}

section {
    width: 800px;
    float: left;
    background-color: #eaf2f8;
}

aside, section {
    padding: 50px;
    display: inline-block;
}

input {
    border: 1px solid #a9cce3;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

input:focus {
    transition: .3s ease;
    border: 1px solid #a9cce3;
    box-shadow: 1px 1px 10px #a9cce3;
}

input.ng-pristine.ng-untouched {
    border-color: #a9cce3;
}

input.ng-valid.ng-touched.ng-dirty {
    border-color: green;
}

input.ng-invalid.ng-touched {
    border-color: red;
}

input:focus + small.error-msg{
    display: none
}

button {
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #154360;
    padding: 10px 20px;
    margin: 15px 5px 5px 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1;
    background-color: #154360;
    font-family: "Lato", sans-serif;
}

button:hover {
    transition: .3s ease;
    color: #154360;
    border: 1px solid #154360;
    background-color: #eaf2f8;
}

.flex-container {
    display: flex;
}

.ficha {
    text-align: center;
    border: 1px solid #a9cce3;
    display: inline-block;
    margin: 15px;
    /*background-color: #A9CCE3;*/
    padding: 30px;
    width: 300px;
}

.ficha p:nth-child(2){
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.lista, .datos {
    flex: 6;
}

.titulo {
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
}

.datos p {
    color: #ffffff;
}